<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="git" version="2.42.0" />
  <package id="wsl-ubuntu-2004" />
  <package id="nodejs-lts" version="20.9.0" />
  <package id="yarn" version="1.22.19" />
  <package id="python312" version="3.12.0" />
  <package id="docker-desktop" version="4.25.1" />
  <package id="dbeaver" version="23.2.4" />
  <package id="mongodb-compass" version="1.40.4" />
  <package id="postman" version="10.19.7" />
  <package id="sublimetext3" version="3.2.2" />
  <package id="vscode" version="1.84.2" />
</packages>