<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="brave"/>
  <package id="googlechrome"/>
  <package id="potplayer"/>
  <package id="wrap"/>
  <package id="powertoys"/>
  <package id="microsoft-windows-terminal"/>
  <package id="internet-download-manager"/>
  <package id="cheatengine" version="7.3"/>
  <package id="steam"/>
  <package id="sharpkeys"/>
  <package id="warp"/>
  <package id="chocolateygui"/>
  <package id="telegram"/>
  <package id="everything"/>
</packages>